<h1 class="charity_name" contenteditable="true"> {{ charity_name }} </h1>

<a class="url" contenteditable="true" href="{{ url }}">Charity Website</a>

<p class="cause"> {{ cause }} </p>

<p class="description" contenteditable="true"> {{ description }} </p>

<p class="shipping_address" contenteditable="true"> {{ shipping_address }} </p>
