<p id="notice"><%= notice %></p>

<h1>Charities</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Charity name</th>
      <th>Cause</th>
      <th>Description</th>
      <th>Location</th>
      <th>Logo</th>
      <th>Url</th>
      <th>Shipping address</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Charity Cause
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Animals</a></li>
      <li><a href="#">Homeless</a></li>
      <li><a href="#">Environmental</a></li>
      <li><a href="#">Health</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">International NGOs</a></li>
      <li><a href="#">Arts & Culture</a></li>
    </ul>
  </div>

<div id="charities-results"></div>
  <!-- <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.charity_name %></td>
        <td><%= charity.cause %></td>
        <td><%= charity.description %></td>
        <td><%= charity.location %></td>
        <td><%= charity.logo %></td>
        <td><%= charity.url %></td>
        <td><%= charity.shipping_address %></td>
        <td><%= charity.user %></td>
        <td><%= link_to 'Show', charity %></td>
        <td><%= link_to 'Edit', edit_charity_path(charity) %></td>
        <td><%= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<!-- <%= link_to 'New Charity', new_charity_path %> -->
