<p id="notice"><%= notice %></p>

<p>
  <strong>Charity name:</strong>
  <%= @charity.charity_name %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @charity.cause %>
</p>

<p>
  <strong>Description:</strong>
  <%= @charity.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @charity.location %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @charity.logo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @charity.url %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @charity.shipping_address %>
</p>

<p>
  <strong>User:</strong>
  <%= @charity.user %>
</p>



<div id="list">

</div>

<script src="/javascript/templates.js" charset="utf-8"></script>
<script src="/javascript/models/wish.js" charset="utf-8"></script>
<script src="/javascript/collections/wishes.js" charset="utf-8"></script>
<script src="/javascript/views/WishView.js" charset="utf-8"></script>
<script src="/javascript/views/WishItemView.js" charset="utf-8"></script>

<script>
    var wishes = new Wishes();
    wishes.reset(<%= raw(@charity.wishlists.to_json) %>)
</script>

<script src="/javascript/app.js" charset="utf-8"></script>

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
