<%= stylesheet_link_tag 'charities' %>


<div id="profile"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <table class="table table-hover wishlist-add">
        <tr>
          <td><input type="hidden" id="charity_id" value="<%= @charity.id %>" /></td>
          <td><input type="text" id="item_name" placeholder="Item Name"/></td>
          <td><input type="text" id="item_url" placeholder="Item URL"  /></td>
          <td><input type="text" id="estimated_price" placeholder="Est. Price"  /></td>
          <td><button id="addwishlistbutton">Add!</button>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-3">
</div> -->

<div id="list-container"></div>


<div class="col-md-6 col-md-offset-3">
  <button id="removefromwishlistbutton">I've purchased this!</button>
</div>

<script src="/javascript/templates.js" charset="utf-8"></script>
<script src="/javascript/models/wish.js" charset="utf-8"></script>
<script src="/javascript/collections/wishes.js" charset="utf-8"></script>
<script src="/javascript/views/WishView.js" charset="utf-8"></script>
<script src="/javascript/views/WishItemView.js" charset="utf-8"></script>
<script src="/javascript/models/charityprofile.js"></script>
<script src="/javascript/views/CharityprofileView.js" charset="utf-8"></script>

<script>
    var charityprofile = new Charityprofile({ id: <%= @charity.id %> })
    charityprofile.fetch();

    var wishes = new Wishes();
    wishes.reset(<%= raw(@charity.wishlists.to_json) %>);

    var profileEditable = <%= @profile_editable %>;
    var profileEditableString = profileEditable.toString();
</script>

<script src="/javascript/app.js" charset="utf-8"></script>
