<p id="notice"><%= notice %></p>

<div id="profile"></div>

<div id="list"></div>

<script src="/javascript/templates.js" charset="utf-8"></script>
<script src="/javascript/models/wish.js" charset="utf-8"></script>
<script src="/javascript/collections/wishes.js" charset="utf-8"></script>
<script src="/javascript/views/WishView.js" charset="utf-8"></script>
<script src="/javascript/views/WishItemView.js" charset="utf-8"></script>
<script src="/javascript/models/charityprofile.js"></script>
<script src="/javascript/views/CharityprofileView.js" charset="utf-8"></script>

<script>
    var charityprofile = new Charityprofile({ id: <%= @charity.id %> })
    charityprofile.fetch();

    var wishes = new Wishes();
    wishes.reset(<%= raw(@charity.wishlists.to_json) %>)
</script>

<script src="/javascript/app.js" charset="utf-8"></script>

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
