
<div class="header">
  <a class="navbar-brand" href="#">
    <%= image_tag('logo.png', class: "logo") %>
  </a>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">
          <%= image_tag('logo.png', class: "logo") %>
        </a> -->
      </div>
      <p class="navbar-text app-name">Charity Help</p>
      <ul class="nav navbar-nav pull-right">
        <li class="sign-up">
          <a href="#">Sign Up</a>
        </li>
        <li class="login">
          <a href="#">Login</a>
        </li>
      </ul>


  <!-- <div class="container">
    <div class="nav">
      <div class="logo"><%= image_tag('logo.png') %></div>
      <div><h1 class="siteName">Charity Help</h1></div>
      <ul class="nav_ul">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div> -->


  </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag('Couple.jpg') %>
    </div>

    <div class="item">
      <%= image_tag('humane_society.jpg') %>
    </div>

    <div class="item">
      <%= image_tag('Helping_truck.jpg') %>
    </div>

    <div class="item">
      <%= image_tag('Food.jpg') %>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <p>Your quickest way</br>to help those in need</p>

<div class="section1">
  <div class="container">
    <div class="jumbotron">

    </div>
  </div>
</div>
