<!-- The overlay -->
<div id="charity-overlay" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" style="text-decoration: none" onclick="closeOverlay()">&times;</a>

  <!-- Overlay content -->
  <div id="overlay-content" class="overlay-content"></div>

</div>

<section class="section1">
    <div class="jumbotron">
      <div class="container">
      <p class="jumbo-text">"I want to help but...."</p>
    </div>
  </div>
</section>

<section class="section2">
      <div class="container">
      <p>Let us help <span>you</span> make a difference!</p>
      <p>Here at But Nothing! we know you want to help! We also know that it can be difficult to find the right charity and then to sort out what they really need.</p>
      <p>So we've done all the heavy lifting and brought a world of charities to you!</p>
    </div>
</section>


<div class="container">

  <main class="main">
    <div class="main-container">
      <section class="section3">
        <h1>As easy as 1, 2, 3...</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-2">
                <%= image_tag('arrow.png', class: "arrow") %>
              </div>
              <div class="col-md-8">
                <p>Pick a cause.</p>
              </div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-2">
                <%= image_tag('arrow.png', class: "arrow") %>
              </div>
              <div class="col-md-8">
                <p>Pick a location.</p>
              </div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-2">
                <%= image_tag('arrow.png', class: "arrow") %>
              </div>
              <div class="col-md-8">
                <p>Fullfill a wish!</p>
              </div>
              </div>
          </div>
        </div>
        </section>
    </div>
   </main>

</div>





<footer class="footer">
  <div class="container">
    <ul class="nav nav-tabs-alt">
      <li class>
        <p id="contact-info-tab">Contact Info</p>
      </li>
      <li class>
        <p id="enquire-now-tab">Enquire Now</p>
      </li>
    </ul>
    <div id="contact-info" class="tab-content">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 getInTouch">
          <h2>Get in touch!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('location-icon.png', class: "location-icon") %>
          <h4>Address</h4>
          <p>12a/45 William St, Melbourne VIC 3000 Australia</p>
        </div>
        <div class="col-md-4">
          <%= image_tag('phone-icon.png', class: "phone-icon") %>
          <h4>Phone</h4>
          <p>(03) 8592 7303</p>
        </div>
        <div class="col-md-4">
          <%= image_tag('email-icon.png', class: "email-icon") %>
          <h4>E-mail</h4>
          <p>info@butnothing.com</p>
        </div>
      </div>
    </div>

    <div id="enquire-now" class="tab-content hidden">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 gotAQuestion">
          <h2>Got a question?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <form action="#" method="post" class="enquiry-form">
            <input type="text" placeholder="Subject" value name="subject" id="subject" class="form-control">
            <input type="text" placeholder="Your name" value name="name" id="name" class="form-control">
            <input type="email" placeholder="Your email" value name="email" id="email" class="form-control">
            <textarea id="message" id="message" class="form-control" rows="3" name="message" placeholder="Your message"></textarea>
            <button class="btn btn-primary btn-block" type="submit">Send Enquiry</button>
          </form>
        </div>
      </div>
    </div>

<p class="copyright">&copy 2017 <a href="#">WGST.200OK</a></p>
<span class="scrollUp"><%= image_tag('scroll-to-top-arrow.ico', class: "scroll-arrow") %></span>
</div>
</footer>
