<%= form_for(wishlist) do |f| %>
  <% if wishlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wishlist.errors.count, "error") %> prohibited this wishlist from being saved:</h2>

      <ul>
      <% wishlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :charity_id %>
    <%= f.text_field :charity_id %>
  </div>

  <div class="field">
    <%= f.label :item_name %>
    <%= f.text_field :item_name %>
  </div>

  <div class="field">
    <%= f.label :item_url %>
    <%= f.text_field :item_url %>
  </div>

  <div class="field">
    <%= f.label :estimated_price %>
    <%= f.text_field :estimated_price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
