<!DOCTYPE html>
<html>
  <head>
    <title>CharityHelp</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application' %>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>

  </head>

  <body>
    <!-- The overlay -->
    <div id="charity-overlay" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" style="text-decoration: none" onclick="closeOverlay()">&times;</a>

      <!-- Overlay content -->
      <div id="overlay-content" class="overlay-content"></div>

    </div
    <div class="header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid nav-container">
          <div class="row nav-style">
            <div class="col-md-9">
              <a class="navbar-brand" href="/">
                <%= image_tag('logo2.png', class: "logo") %>
              </a>
              <h1 class="navbar-text">But Nothing!</h1>
            </div>
            <div class="col-md-3 nav_links">
              <% if logged_in? %>
                <form action="/logout/<%= current_user.id %>" method="post" class="logout_link">
                  <input type="hidden" name="_method" value="delete" />
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <button class="logoutLink">Log Out</button>
                </form>
              <% else %>
                <a class="links" href="/users/new">Sign Up</a>
                <a class="links" href="/login">Login</a>
                <a><span onclick="openOverlay()" class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </div>



    <div class="container-fluid page-container">
      <%= yield %>
    </div>


  </body>
</html>
